/*
//
 */
.atome-mask {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 100000;
    top: 0;
    left: 0;
}

.atome-main {
    display: flex;
}

.atome-icon {
    cursor: pointer;
    pointer-events: auto;
}

.atome-main .right {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    transform: none;
}

.atome-main img {
    background-color: #ffffff;
    opacity: 1;
}


@media only screen and (min-width: 991px) {
    .atome-main {
        height: 640px;
    }

    .atome-main .sub {
        width: 860px;
    }

    .atome-main .right .close {
        position: absolute;
        width: 20px;
        height: 20px;
        top: 10px;
        right: 20px;
        padding: 0;
        margin: 0;
        cursor: pointer;
        pointer-events: auto;
    }

    .atome-main .atome-intro-logo {
        width: 180px;
        margin: 46px 0 24px 0;
    }

    .atome-main .right .desc-container {
        width: calc(100% - 96px);
        padding: 0 48px;
        display: flex;
        justify-content: space-between;
        margin-top: 56px;
    }

    .atome-main .right .desc {
        width: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .atome-main .right .desc img {
        width: 112px;
        height: 112px;
    }

    .atome-main .right .desc .text {
        margin-top: 10px;
        font-size: 16px;
        color: #878d9c;
        text-align: center;
        line-height: 1.75;
    }

    .atome-main .right .desc .text b {
        color: #141c30;
    }

    .atome-main .right .how-it-works {
        width: 240px;
        height: 48px;
        margin-top: 20px;
        border-radius: 4px;
        background-color: #f6ff7e;
        color: #131f37;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        text-decoration: none;
        font-weight: bold;
        font-size: 20px;
    }

    .atome-main .right .terms-conditions {
        width: 170px;
        height: 18px;
        font-family: GTWalsheimPro;
        font-size: 16px;
        font-weight: bold;
        letter-spacing: normal;
        text-align: center;
        color: #131f37;
        margin-top: 70px;
    }

    .atome-main .right .atome-third-tcs-wrapper {
        padding: 2em;
        overflow: scroll;
        word-break: break-word;
    }

    .atome-main .right .atome-third-tcs-wrapper h4 {
        font-size: 1em;
    }

    .atome-main .right .atome-third-tcs-wrapper .items-wrapper {
        padding-left: 2em;
    }

    .atome-love-it {
        font-size: 20px;
        font-weight: 500;
        font-size: 18px;
        color: #141c30;
        line-height: 30px;
    }

    .atome-no-wait {
        font-size: 16px;
        color: #878d9c;
        line-height: 30px;
        text-align: center;
    }

    .atome-main #atome-terms-conditions-container .close {
        right: 17px;
        pointer-events: auto;
    }

    .atome-main #atome-terms-conditions-container .back {
        width: 80px;
        display: flex;
        position: absolute;
        top: 10px;
        left: 10px;
    }

    .atome-main #atome-terms-conditions-container .back .arrow-back {
        width: 20px;
        height: 20px;
    }

    .atome-main #atome-terms-conditions-container .back span {
        width: 50px;
        height: 20px;
        font-family: GTWalsheimPro;
        font-size: 18px;
        font-weight: normal;
        letter-spacing: normal;
        text-align: center;
        color: #141c30;
    }

    .atome-main #atome-terms-conditions-container .atome-iframe-wrapper {   
        width: 860px;
        height: 600px;
        margin-top: 40px;
    }

    .atome-main #atome-terms-conditions-container .atome-iframe-wrapper iframe {   
        width: 100%;
        height: 100%;
        border: none;
    }
}



@media only screen and (max-width: 991px) {
    .atome-main .left {
        display: none;
    }

    .atome-main .right {
        width: calc(100vw - 30px);
        height: 494px;
        background: #fff;
    }

    .atome-main .right .close {
        position: absolute;
        width: 16px;
        height: 16px;
        top: 12px;
        right: 15px;
        padding: 0;
        margin: 0;
        cursor: pointer;
        pointer-events: auto;
    }

    .atome-main .right .desc-container {
        margin-top: 20px;
    }

    .atome-main .right .desc {
        height: 56px;
        margin: 9px 0;
        display: flex;
    }

    .atome-main .right .desc img {
        width: 56px;
        height: 56px;
        margin: 0 15px 0 30px;
    }

    .atome-main .right .desc .text {
        width: 230px;
        height: 56px;
        font-size: 14px;
        font-weight: 600;
        color: #878d9c;
        margin-top: 10px;
        margin-right: 40px;
        position: inherit;
    }

    .atome-main .right .desc .text b {
        color: #141c30;
    }

    .atome-main .right .how-it-works {
        width: 270px;
        height: 44px;
        border-radius: 2px;
        background-color: #f6ff7e;
        color: #131f37;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        font-weight: 600;
        margin: 15px 0;
        text-decoration: none;
    }

    .atome-main .right .terms-conditions {
        width: 170px;
        height: 18px;
        font-family: GTWalsheimPro;
        font-size: 16px;
        font-weight: bold;
        letter-spacing: normal;
        text-align: center;
        color: #131f37;
        margin-top: 15px;
    }

    .atome-main .right .atome-third-tcs-wrapper {
        padding: 1em;
        overflow: scroll;
        word-break: break-word;
    }

    .atome-main .right .atome-third-tcs-wrapper h4 {
        font-size: 1em;
    }

    .atome-main .right .atome-third-tcs-wrapper .items-wrapper {
        padding-left: 1em;
    }

    .atome-main .atome-intro-logo {
        height: 40px !important;
        margin: 34px 0 20px 0;
    }

    .atome-love-it {
        font-size: 18px;
        color: #141c30;
        font-weight: bold;
        line-height: 30px;
    }

    .atome-no-wait {
        font-size: 13px;
        color: #878d9c;
        font-weight: bold;
        line-height: 30px;
        text-align: center;
    }

    .atome-main #atome-terms-conditions-container .close {
        right: 17px;
    }

    .atome-main #atome-terms-conditions-container .back {
        width: 80px;
        display: flex;
        position: absolute;
        top: 10px;
        left: 10px;
    }

    .atome-main #atome-terms-conditions-container .back .arrow-back {
        width: 20px;
        height: 20px;
    }

    .atome-main #atome-terms-conditions-container .back span {
        width: 50px;
        height: 20px;
        font-family: GTWalsheimPro;
        font-size: 18px;
        font-weight: normal;
        letter-spacing: normal;
        text-align: center;
        color: #141c30;
    }

    .atome-main #atome-terms-conditions-container .atome-iframe-wrapper {   
        width: 100%;
        height: 100%;
        margin-top: 40px;
    }

    .atome-main #atome-terms-conditions-container .atome-iframe-wrapper iframe {   
        width: 100%;
        height: 100%;
        border: none;
    }
}